<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="">
          <h1 class="text-center">Buy directly from Ghana's emerging brands</h1>
        </div><br>
        <div class="input-group pt6">
          <input type="text" name="entry.1278961137" id="entry.1278961137" placeholder="Search Products and Stores" class=" form-control" required="required" autofocus="autofocus">
          <span class="input-group-btn"><input type="submit" name="commit" value="Search" class="btn btn-danger"></span>
        </div>
      </div>
    </div>
    <div class="cat-section">
      <div class="container">
        <div class="row">
          <div class="page-header text-center">
            <h3>Shop by Category</h3>
          </div>
          <% @categories.each do |category| %>

            <div class=" col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="thumbnail">
                <div class="caption">
                  <%= link_to category.name, category_path(category) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
