<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12 pbm">
          <p class="pb4">claeus gives you the tools &amp; support needed to start your new online business, or serve as a platform to upgrade your already existing storefront to exploit the thoudsands of our onlive visitors.</p>
          </div>
          <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-0">
            <h6 class="h-bold">Features</h6>
            <ul class="list-unstyled">
              <li><a href="/features/online-course-builder">Online course buil</a></li>
              <li><a href="/features/digital-downloads">Digital downloads</a></li>
              <li><a href="/features/landing-page-builder">Landing page builder</a></li>
              <li><a href="/features/email-newsletter">Email newsletter</a></li>
              <li><a href="/features/drip-email-marketing">Drip email marketing</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-sm-offset-1 col-xs-4 col-xs-offset-0">
            <h6 class="h-bold">Claeus</h6>
            <ul class="list-unstyled">
              <li><a href="/features">Features</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/examples">Examples</a></li>
              <li><a href="/stories">Stories</a></li>
              <li><a target="_blank" href="http://blog.withcoach.com/">Blog</a></li>
              <li><a href="/about">About us</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4 col-xs-offset-0">
            <h6 class="h-bold">Help</h6>
            <ul class="list-unstyled">
              <li><a target="_blank" href="http://help.withcoach.com/">Support</a></li>
              <li><a href="mailto:hello@withcoach.com">Email us</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/terms">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center footer-copyright">
              ©
              2017
              claeus. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
